<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.kina.mappers.MemberMapper">
	<select id="getTime" resultType="string">
		select now()
	</select>

	<insert id="insertMember" parameterType="kr.kina.domain.MemberVO">
		insert into tbl_member
		(userid, userpw, username, email) values
		(#{userID}, #{userPW}, #{userName}, #{email})
	</insert>
	
	<select id="readMember" parameterType="string">
		select * from
		tbl_member
		Where userid = #{value}
	</select>

	<select id="readWithPW">
		select * from
		tbl_member
		where userid = #{userid} and userpw = #{userpw}
	</select>
</mapper>